
<div class="section-block-v1">
    <!-- HEADLINE -->
    <div class="headline-row">
        <h1 class="section-title caticon sbx"><i>N</i><span class="news"></span>News</h1>
    </div>
    <div class="row">
        <!-- THUMB LARGE -->
        <div class="col-md-8">
            <article class="post post-spacer thumb-large">
                <div class="entry-header">
                    <img class="img-responsive" src="img/large-post-thumb1.jpg" alt="Post img">
                    <!-- Post content -->
                    <div class="post-content">
                        <div class="entry-title">
                            <h2><a href="#link" class="title">NYC Love Bikers</a></h2>
                            <a href="#category" class="caticon"><i class="caticon date-icon icon-clock"></i><span class="news"></span>25 January, 2015</a>
                            <p class="visible-md visible-lg visible-sm hidden-xs">Lorem ipsum dolor dummy text goes here</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <!-- THUMBS MEDIUM -->
        <div class="col-md-4 thumb-medium">
            <div class="row">
                <!-- POST -->
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <article class="post post-spacer">
                        <div class="entry-header">
                            <img class="img-responsive" src="img/middle-post-thumb1.jpg" alt="Post img">
                            <!-- Post content -->
                            <div class="post-content">
                                <div class="entry-title">

                                    <h3><a href="#link" class="title">London Stock Exchange intensified</a></h3>
                                    <a href="#category" class="caticon"><i class="date-icon icon-clock"></i><span class="news"></span>25 January, 2015</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- POST -->
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <article class="post post-spacer">
                        <div class="entry-header">
                            <img class="img-responsive" src="img/middle-post-thumb1.jpg" alt="Post img">
                            <!-- Post content -->
                            <div class="post-content">
                                <div class="entry-title">

                                    <h3><a href="#link" class="title">London Stock Exchange intensified</a></h3>
                                    <a href="#category" class="caticon"><i class="date-icon icon-clock"></i><span class="news"></span>25 January, 2015</a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- END -->
            </div>
        </div>
    </div>

    <!-- THUMBS MEDIUM with content-->
    <div class="row thumb-medium-with-content">
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- Post -->
            <article class="post post-spacer">
                <div class="entry-header">
                    <img class="img-responsive" src="img/middle-post-thumb1.jpg" alt="Post img">
                </div>
                <div class="post-txt">
                    <h3><a href="#link" class="title">Popular Destinations in North America</a></h3>
                    <a href="#category" class="caticon"><i class="date-icon icon-clock"></i><span class="news"></span>25 January, 2015</a>
                    <p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- Post -->
            <article class="post post-spacer">
                <div class="entry-header">
                    <img class="img-responsive" src="img/middle-post-thumb1.jpg" alt="Post img">
                </div>
                <div class="post-txt">
                    <h3><a href="#link" class="title">Popular Destinations in North America</a></h3>
                    <a href="#category" class="caticon"><i class="date-icon icon-clock"></i><span class="news"></span>25 January, 2015</a>
                    <p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- Post -->
            <article class="post post-spacer">
                <div class="entry-header">
                    <img class="img-responsive" src="img/middle-post-thumb1.jpg" alt="Post img">
                </div>
                <div class="post-txt">
                    <h3><a href="#link" class="title">Extreme Bike Ride in Ecuador Mountains</a></h3>
                    <a href="#category" class="caticon"><i class="date-icon icon-clock"></i><span class="news"></span>25 January, 2015</a>
                    <p class="hidden-xs">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been...</p>
                </div>
            </article>
        </div>
        <!-- END -->
    </div>
</div>
