<!-- Post Link -->
<li class="media sidebar-post-spacer">
  <div class="media-body">
    <h4 class="media-heading"><a href="#">Startup released a chip for little pets</a></h4>
    <a href="#category" class="caticon"><i class="caticon date-icon icon-clock"></i><span class="sidebar-trending"></span>25 January, 2015</a>
  </div>
</li>
