$starFontSize: 1rem;
$starLetterSpacing: 1rem;
$starWidth: .15rem;
$starIconContent: "\2605";

.starRating {
  &.signed-in {
    &:hover {
      color: blue;
    }
    .rating {
      color: red;
    }
  }
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: $starFontSize;
    letter-spacing: $starLetterSpacing;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: $starWidth;
    &.clickable {
      cursor: pointer;
    }
  }
  .rating > span.unrated:hover:before,
  .rating > span.rated-as:before,
  .rating > span.rated-as ~ span:before,
  .rating > span.unrated:hover ~ span:before {
    content: $starIconContent;
    position: absolute;
  }
}
