.starRating {
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 1.6rem;
    letter-spacing: 1rem;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: .15em;
    &.clickable {
      cursor: pointer;
    }
  }
  .rating > span.unrated:hover:before,
  .rating > span.rated-as:before,
  .rating > span.rated-as ~ span:before,
  .rating > span.unrated:hover ~ span:before {
    content: "\2605";
    position: absolute;
  }
}
