$starFontSize: 1.5rem;
$starLetterSpacing: 1rem;
$starWidth: .15rem;
$starIconContent: "\2605";

.starRating {
  &.signed-in {
    span:hover:before,
    span:hover ~ span:before {
      content: $starIconContent;
      color: #5283ff !important;
      position: absolute;
    }
    span.unrated  {
      content: '' !important;
      position: static !important;
    }
    span.rated-as:before,
    span.rated-as ~ span:before,
    .rating {
      color: #ff6657 !important;
    }
  }
  .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: $starFontSize;
    letter-spacing: $starLetterSpacing;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: $starWidth;
    &.clickable {
      cursor: pointer;
    }
  }
  .rating > span.rated-as:before,
  .rating > span.rated-as ~ span:before {
    content: $starIconContent;
    position: absolute;
  }
}
