{{yield}}

<section class="col-md-12 section-tags">

  {{#if tags}}
    <ul class="post-tags">
    {{#each tags as |tag|}}

      <li>
        {{#link-to "search.tags" tag}}{{tag.name}}{{/link-to}}
      </li>

    {{/each}}
    </ul>
  {{/if}}
  <!-- HEADLINE -->
  {{headline-row letter="T" icon="sport" text="Tags"}}




</section>
