{{yield}}

<section class="col-md-12 section-tags">

  <!-- HEADLINE -->
  {{headline-row letter="T" icon="sport" text="Tags"}}


  <ul class="post-tags">
    <li><a href="#">Videos</a></li>
    <li><a href="#">Sport</a></li>
    <li><a href="#">Gastro</a></li>
    <li><a href="#">Tech</a></li>
    <li><a href="#">Urbanism</a></li>
    <li><a href="#">Lifestyle</a></li>
    <li><a href="#">Trending</a></li>
  </ul>


</section>
