<div class="row">
  {{welcome/login-form title="Login" onLoginSubmit='onLoginSubmit'}}
</div>

<div class="row social-logins">
  {{welcome/social-login}}
</div>

<div class="row">
  Not yet a member? {{#link-to "welcome.index"}}Click here to register.{{/link-to}}
  <br>
</div>

{{liquid-outlet}}
