


<div class="row">
    {{welcome.signup-form title="Sign-Up"}}
</div>


<div class="row">
    Already a member? {{#link-to "welcome.index" title="Sign-Up" onSubmitForm='createNewUserFromForm ' class=""}}Click here to login.{{/link-to}}
    <br>
</div>

{{outlet}}
