<p>
  Step off the elevator, <br>
  This can't be the right floor?, <br>
  I look at the digits on the door, <br>
  they spell out four-oh-four, <br>
  Have I been here before?, <br>
  no this place not familiar, <br>
  this is a page but you ain't supposed to be here I tell ya.
</p>

<p>
  Take a look at the links here below, <br>
  Travel to paths better known, <br>
  If your lost click the top button, <br>
  That one will bring you back {{#link-to "home.index"}}Home{{/link-to}}
</p>

<ul class="list-group">
  <li class="list-group-item">
    {{#link-to "home.index" class="btn btn-outline"}}Home{{/link-to}}
  </li>
  <li class="list-group-item">
    {{#link-to "recommendations.index" class="btn btn-outline"}}Recommendations{{/link-to}}
  </li>
  <li class="list-group-item">
    {{#link-to "reviews.index" class="btn btn-outline"}}Reviews{{/link-to}}
  </li>
  <li class="list-group-item">
    {{#link-to "market.index" class="btn btn-outline"}}Market{{/link-to}}
  </li>
</ul>