{{liquid-outlet}}

{{#link-to "reviews.create"}}Add New Review{{/link-to}}

<p>
  Reviews are meant to give an opinion on real life gear, apparel,
  some product. These reviews will add new items into the app which
  other users might also review. Items being sold on the LockerBeast
  market will link to reviews if available. This will allow the community
  to make informed decisions before purchasing items online.
</p>