{{liquid-outlet}}

{{#link-to "recommendations.create"}}Add New Recommendation{{/link-to}}
<p>
  Recommendations are tips or suggestions to <b>awesome</b> content found
  online. Unlike reviews, recommendations are things our users can use right
  now, this second, one click away. It can be a <em>video</em>, <em>article</em>,
  anything which is Lax related and has a url.
</p>