<div class="container-fluid headerbar">
    <div class="container clearfix">

        <header>
            <nav class="navbar navbar-default">
                <div class="row">
                    <div class="navbar-header">

                      {{#if session.isAuthenticated}}
                      {{! Show the nav-bar button only to authenticated users }}
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                      {{/if}}

                        <a class="navbar-brand" href="#">
                            <img alt="Posted News/Magazine Theme" src="img/posted_theme_logo.png">
                        </a>

                    </div>

                  {{#if session.isAuthenticated}}
                  {{! Show the nav-bar dropdowns only to authenticated users }}
                      <div id="navbar" class="navbar-collapse collapse">
                          <ul class="nav navbar-nav">
                              <li class="active dropdown">
                                  <a href="index.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Voice of the People <span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                      <li>
                                        {{#link-to "home"}}Main{{/link-to}}
                                      </li>
                                      <li>
                                        {{#link-to "reviews"}}Reviews{{/link-to}}
                                      </li>
                                      <li>
                                        {{#link-to "recommendations"}}Recommendations{{/link-to}}
                                      </li>
                                  </ul>
                              </li>

                              <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Classifieds <span class="caret"></span></a>
                                  <ul class="dropdown-menu">
                                      <li>{{#link-to "market"}}Marketplace{{/link-to}}</li>
                                  </ul>
                              </li>

                              <li>
                                {{#link-to "contact"}}Contact{{/link-to}}
                              </li>
                              <li>
                                  <a href="#" class="logout" {{action 'logout' on='click'}}>Logout</a>
                              </li>
                          </ul>

                          <ul class="nav navbar-nav navbar-right toolbar">
                              <li><a href="#" class="demo-icon icon-gplus social-icons"></a></li>
                              <li><a href="#" class="demo-icon icon-pinterest social-icons"></a></li>
                              <li><a href="#" class="demo-icon icon-facebook social-icons"></a></li>
                              <li><a href="#" class="demo-icon icon-twitter social-icons"></a></li>
                              <li><a href="#" class="demo-icon icon-vimeo social-icons"></a></li>
                              <li><a href="#" class="demo-icon icon-rss social-icons"></a></li>
                              <li>
                                  <div class="search-block">
                                      <form>
                                          <input type="search" placeholder="Search">
                                      </form>
                                  </div>
                              </li>
                          </ul>
                      </div><!--/.nav-collapse -->

                  {{/if}}
                </div><!--/.container-fluid -->
            </nav>

        </header>

    </div>
</div>
