
{{! minimal will hide the large area in the footer to only show the little bottom bar}}
{{#unless minimal}}

    <div class="container-fluid section-footer">
        <div class="container">
            <div class="row">
                <!-- ABOUT AND SOCIAL -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a class="navbar-brand" href="#">
                        <img alt="Posted News/Magazine Theme" src="img/posted_theme_logo.png">
                    </a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" class="demo-icon icon-gplus social-icons"></a></li>
                        <li><a href="#" class="demo-icon icon-pinterest social-icons"></a></li>
                        <li><a href="#" class="demo-icon icon-facebook social-icons"></a></li>
                        <li><a href="#" class="demo-icon icon-twitter social-icons"></a></li>
                        <li><a href="#" class="demo-icon icon-vimeo social-icons"></a></li>
                        <li><a href="#" class="demo-icon icon-rss social-icons"></a></li>
                    </ul>
                    <p>Aliquam feugiat turpis quis felis adipiscing, non pulvinar odio lacinia. Aliquam elementum pharetra fringilla. Duis blandit, sapien in semper vehicula, tellus elit gravida odio, ac tincidunt nisl mi at ante. Vivamus tincidunt nunc nibh. Duis blandit, sapien in semper vehicula</p>
                </div>

                <!-- POSTS -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <h1>Popular Posts</h1>
                    <!-- MEDIA LIST -->
                    <ul class="media-list footermedialist">
                        <!-- Thumb -->
                        <li class="media">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="img/xs-post-thumb.jpg" alt="Post img"></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Hot Latte in perfect Coffee Shop</a></h4>
                                <span class="date-icon icon-clock">25 January, 2015</span>
                            </div>
                        </li>

                        <!-- Thumb -->
                        <li class="media">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="img/xs-post-thumb.jpg" alt="Post img"></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Hot Latte in perfect Coffee Shop</a></h4>
                                <span class="date-icon icon-clock">25 January, 2015</span>
                            </div>
                        </li>

                        <!-- Thumb -->
                        <li class="media">
                            <div class="media-left">
                                <a href="#"><img class="media-object" src="img/xs-post-thumb.jpg" alt="Post img"></a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#">Hot Latte in perfect Coffee Shop</a></h4>
                                <span class="date-icon icon-clock">25 January, 2015</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- TAGS -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <h1>Tags</h1>
                    <ul class="footer-tags">
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Sport</a></li>
                        <li><a href="#">Gastro</a></li>
                        <li><a href="#">Tech</a></li>
                        <li><a href="#">Urbanism</a></li>
                        <li><a href="#">Lifestyle</a></li>
                        <li><a href="#">Trending</a></li>
                    </ul>
                </div>

                <!-- LINKS -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <h1>Links</h1>
                    <ul class="footer-menu-links">
                        <li class="icon-right-open"><a href="#">About Us</a></li>
                        <li class="icon-right-open"><a href="#">Categories</a></li>
                        <li class="icon-right-open"><a href="#">Features</a></li>
                        <li class="icon-right-open"><a href="#">Pages</a></li>
                        <li class="icon-right-open"><a href="#">Gallery</a></li>
                        <li class="icon-right-open"><a href="#">Terms of use</a></li>
                        <li class="icon-right-open"><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
                <!-- END -->
            </div>
        </div>
    </div>

{{/unless}}

<!-- FOOTER BAR -->
<div class="container-fluid section-footer-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-6">© OrcasThemes 2016, All rights reserved</div>
            <div class="col-md-6 col-xs-6"><span class="pull-right">Fonts by Google Fonts. Icons by Fontello</span></div>
        </div>
    </div>
</div>
