
<div class="col-lg-3 hidden-md hidden-sm hidden-xs sidebar-trending">
    <div class="headline-row">
        <h1 class="section-title caticon sbx"><i>T</i><span class="sidebar-trending"></span>Trending</h1>
    </div>

    <ul class="media-list">
        <!-- Post Link -->
        <li class="media sidebar-post-spacer">
            <div class="media-body">
                <h4 class="media-heading"><a href="#">Startup released a chip for little pets</a></h4>
                <a href="#category" class="caticon"><i class="caticon date-icon icon-clock"></i><span class="sidebar-trending"></span>25 January, 2015</a>
            </div>
        </li>
        <!-- Post Link -->
        <li class="media sidebar-post-spacer">
            <div class="media-body">
                <h4 class="media-heading"><a href="#">How to save money without leaving your couch </a></h4>
                <a href="#category" class="caticon"><i class="caticon date-icon icon-clock"></i><span class="sidebar-trending"></span>25 January, 2015</a>
            </div>
        </li>
        <!-- Post Link -->
        <li class="media sidebar-post-spacer">
            <div class="media-body">
                <h4 class="media-heading"><a href="#">$160G worth of cheese stolen in Wisconsin</a></h4>
                <a href="#category" class="caticon"><i class="caticon date-icon icon-clock"></i><span class="sidebar-trending"></span>25 January, 2015</a>
            </div>
        </li>
        <!-- Post Link -->
        <li class="media sidebar-post-spacer">
            <div class="media-body">
                <h4 class="media-heading"><a href="#">Revolutionary new health tech scares some experts </a></h4>
                <a href="#category" class="caticon"><i class="caticon date-icon icon-clock"></i><span class="sidebar-trending"></span>25 January, 2015</a>
            </div>
        </li>
        <!-- Post Link -->
        <li class="media sidebar-post-spacer">
            <div class="media-body">
                <h4 class="media-heading"><a href="#">Unusual items in the offices of successful people</a></h4>
                <a href="#category" class="caticon"><i class="caticon date-icon icon-clock"></i><span class="sidebar-trending"></span>25 January, 2015</a>
            </div>
        </li>
        <!-- Post Link -->
        <li class="media sidebar-post-spacer">
            <div class="media-body">
                <h4 class="media-heading"><a href="#">STARNES: Basketball team ejected for being too good</a></h4>
                <a href="#category" class="caticon"><i class="caticon date-icon icon-clock"></i><span class="sidebar-trending"></span>25 January, 2015</a>
            </div>
        </li>
        <!-- Post Link -->
        <li class="media sidebar-post-spacer">
            <div class="media-body">
                <h4 class="media-heading"><a href="#">Feel the freezer Bern? Ben and Jerry's founder unveils new Sanders flavor</a></h4>
                <a href="#category" class="caticon"><i class="caticon date-icon icon-clock"></i><span class="sidebar-trending"></span>25 January, 2015</a>
            </div>
        </li>
        <!-- Post Link -->
        <li class="media sidebar-post-spacer">
            <div class="media-body">
                <h4 class="media-heading"><a href="#">'Citizen scientists' use drones to map El Nino flooding</a></h4>
                <a href="#category" class="caticon"><i class="caticon date-icon icon-clock"></i><span class="sidebar-trending"></span>25 January, 2015</a>
            </div>
        </li>
    </ul>
</div>

